/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


/* google font style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* share style */
.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
}

.btn-secondary {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    border: 1px solid white;
    padding: 16px 40px;
    background-color: rgb(23, 23, 23);
    margin-left: 14px;
}

/* nav style */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 245px;
}

.nav ul {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.nav ul li {
    list-style: none;
}

.nav ul a {
    text-decoration: none;
    margin-right: 50px;
}

.nav-heading {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.nav-btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border: none;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

/* header section style */

.header {
    max-width: 100%;
    background-color: rgb(23, 23, 23);
}

.banner {
    max-width: 1060px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 520px;
}

.banner-heading {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    margin-top: 25px;
}

.banner-span {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.banner-btn-container {
    margin-top: 25px;
}

.banner-img {
    max-width: 350px;
}

.banner-img img {
    width: 100%;
}

.banner-350-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    max-width: 205px;
    margin-left: -120px;
    margin-top: -170px;
}

.banner-350 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;

}

.banner-350-circle {
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.banner-350-number {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    margin-top: 10px;
}

.banner-350-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
}

.banner-500 {
    max-width: 192px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    position: relative;
    left: 230px;
    bottom: 380px;

}

.banner-500-text {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(250, 250, 249);
    margin: 0;
}

.banner-500-description {
    font-size: 13px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    margin: 0;
    padding-bottom: 15px;
}


/* start main section style */

/* Habit section */

.main {
    background-color: rgb(22, 22, 22);
    max-width: 100%;
}

.habit {
    max-width: 1044px;
    margin: auto;
    margin-top: 100px;
}

.habit-content {
    max-width: 670px;
    margin: auto;
    text-align: center;


}

.habit-content-heading {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.habit-content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.habit-card-container {
    max-width: 1044px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.habit-card {
    max-width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: 0px;
}

.habit-card-heading {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    margin-top: 13px;
}

.habit-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/* Run section style */

.run {
    padding: 40px 40px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 100px auto;
    max-width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.run-content {
    max-width: 443px;
}

.run-content-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.run-content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.run-img {
    max-width: 410px;
    border-radius: 18px;
}

.run-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* BMI calculator section style */

.bmi {
    max-width: 670px;
    margin: auto;
    margin-top: 120px;
}

.bmi-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.bmi-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.calculator {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;

    background-color: rgb(34, 34, 34);
    ;
}

.table-container {
    max-width: 350px;
    margin-top: -17px;
}

.table-heading {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.table {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    max-width: 310px;
}

.table tr {
    border: 1px solid white;
}

.table th {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 17px;
}

.table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding: 17px;
}

.input-container {
    max-width: 577px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.input-heading {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.input-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.input-container input[type="text"] {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    padding: 12px 40px 12px 20px;
    margin: 5px 5px 5px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

#input-select {
    padding: 12px 305px 12px 20px;
}

#btn-calculate {
    margin-top: 34px;
}

/* Team section style */

.team {
    max-width: 1060px;
    margin: 88px auto;
}

.team-content {
    max-width: 670px;
    margin: auto;
    text-align: center;
}

.team-heading {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.team-img-container {
    max-width: 1060px;
    margin-top: 58px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.team-image {
    max-width: 1020px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-img1 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.team-img-content {
    position: relative;
    top: 215px;
    left: 20px;
}

.team-img-content h3 {
    color: rgb(255, 255, 255);
    margin: 0;
}

.team-img-content p {
    color: rgba(255, 255, 255, 0.5);
    margin: 2px;
}

.team-img2 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.team-img3 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.team-img4 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.team-img5 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.team-img6 {
    max-width: 326px;
    height: 272px;
    background-image: url("images/trainer6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

/* price section style */
.price {
    max-width: 1060px;
    margin: auto;
    margin-top: 158px;
    color: white;
    text-align: center;
}

.price-content {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.price-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

.price-card {
    max-width: 290px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
}

.price-card-heading {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin: 0;
    margin-top: 40px;
}

.price-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
}

.price-btn{
    margin: 40px 0px;
}




/* responsive in small device */

@media screen and (max-width: 576px) {

    .nav {
        margin: 0px;
    }

    .nav ul {
        display: none;
        margin: 0;
    }

    .icon {
        height: 20px;
        width: 20px;
        background-image: url("icon/4line.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner {
        flex-direction: column;
    }

    .banner-heading {
        font-size: 56px;
    }

    .banner-span {
        font-size: 66px;
    }

    .banner-btn-container {
        display: flex;
    }

    .btn-primary {
        padding: 10px 30px;
    }

    .banner-350-container {
        margin-left: -20px;
        max-width: 180px;
    }

    .banner-350 {
        padding: 0px;
    }

    .banner-500 {
        max-width: 160px;
        bottom: 450px;
        left: 197px;
    }

    .banner-500-text {
        padding-top: 9px;
        font-size: 25px;
        font-weight: 900;
        color: rgb(250, 250, 249);
        margin: 0;
    }

    .banner-350-circle {
        background: rgb(230, 83, 60);
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .banner-350-number {
        color: rgb(250, 250, 249);
        font-size: 19px;
        font-weight: 900;
        margin-top: 10px;
    }

    .banner-350-text {
        color: rgba(239, 237, 232, 0.65);
        font-size: 14px;
        font-weight: 400;
        margin-top: -15px;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
        justify-items: center;
    }

    .run {
        flex-direction: column;
    }

    .run-img {
        margin-top: 50px;
    }

    .calculator {
        flex-direction: column;

    }

    #input-select {
        padding: 12px 105px 12px 20px;
    }

    .input-container input[type="text"] {
        padding: 12px 20px 12px 20px;
    }

    .input-container {
        margin-top: 40px;

    }

    .team-image {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .price-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 70px;
        gap: 30px;
    }


}